*{
	box-sizing:border-box;
}
body{
	background-image:url("./image.jpg");
	background-size:cover;
	display:flex;
	flex-direction:column;
	text-align:center;
	justify-content:center;
 }
h1{
font-family:san-serif,poppins;
text-transform:uppercase;
font-size:2rem;
font-weight:normal;}
.container{display:flex;
text-align:center;
justify-content:center;}
.big-text{
	font-size:3rem;
	margin:0 2rem;
}
div>span{font-size:1.0rem;}